$REM: 18;

$w-mobile: 375px;
$w-desktop: 1440px;

$font-kumbh-sans: "Kumbh Sans", sans-serif;

$colors: (
  dark-cyan: hsl(185, 75%, 39%),
  very-dark-desaturated-blue: hsl(229, 23%, 23%),
  dark-grayish-blue: hsl(227, 10%, 46%),
  dark-gray: hsl(0, 0%, 59%),
);
